/* Header Styles */
.header {
  position: sticky;
  background: #fafafa;
  top: 0px;
  z-index: 999;
  transition: 0.6s;
}
.header h1 {
  font-size: 24px;
}
.logo-container {
  /* border-left: 1px solid #dcdcdc;
  padding-left: 17px;
  margin-left: 17px; */
}
.burger {
  cursor: pointer;
  display: none;
}
.burger span {
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  transition: 0.6s;
  backface-visibility: hidden;
}
.header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.54);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.6s;
}
.header-visible {
  position: relative;
  padding: 22px 0;
  background: #fafafa;
  z-index: 5;
  transition: 0.6s;
}
.header-hidden {
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.6s;
  backface-visibility: hidden;
}
.navigation {
  border-top: 1px solid #eeeeee;
  padding: 47.5px 0;
}
.navigation a {
  margin-right: 25px;
  backface-visibility: hidden;
  line-height: 24px;
}
.navigation a span {
  line-height: 24px;
}
.navigation a:last-child {
  margin-right: 0;
}
.color-example {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-right: 10px;
  flex-shrink: 0;
}
.red-btn .color-example {
  background: #eb4d4b;
}
.blue-btn .color-example {
  background: #3742fa;
}
.green-btn .color-example {
  background-image: linear-gradient(to right, #2ed573, #7bed9f);
}
.orange-btn .color-example {
  background-image: linear-gradient(to right, #ff6348, #ff7f50);
}
.yellow-btn .color-example {
  background-image: linear-gradient(to right, #ffa502, #eccc68);
}
.gray-btn .color-example {
  background-image: linear-gradient(to right, #2f3542, #57606f);
}
.sky-btn .color-example {
  background-image: linear-gradient(to right, #1e90ff, #70a1ff);
}

.color-control,
.language-box {
  position: relative;
}
.color-list,
.other-languages {
  position: absolute;
  top: 100%;
  left: 0px;
  background: #fff;
  transition: 0.6s;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.56);
  opacity: 0;
  pointer-events: none;
}
.space-box {
  height: 10px;
  padding-bottom: 10px;
}
.other-languages {
  left: 5px;
}
.color-list {
  width: 140px;
}
.color-list li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.6s;
}
.other-languages {
  width: 120px;
}
.color-status {
  height: 36px;
  padding-left: 21px;
  padding-right: 16px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.6s;
}
.color-status svg {
  margin-left: 16px;
}
.color-list.show {
  opacity: 1;
  pointer-events: all;
}
.other-languages.show {
  opacity: 1;
  pointer-events: all;
}
.language-box {
  padding: 0 5px;
  cursor: pointer;
}
.languages::after {
  content: '';
  width: 1px;
  height: 36px;
  display: inline-block;
  background: #dcdcdc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
}
.languages::before {
  content: '';
  width: 1px;
  height: 36px;
  display: inline-block;
  background: #dcdcdc;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
}
.current-language {
  height: 36px;
  padding: 0 16px;
  margin-top: 10px;
  border-radius: 2px;
  transition: 0.6s;
}
.other-languages a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 21px;
  padding-right: 20px;
  display: block;
  transition: 0.6s;
}
.language-box svg {
  margin-left: 16px;
}
.profile-email {
  display: none;
}
.profile-email svg {
  margin-left: 14px;
}
.profile-email a {
  padding-left: 21px;
  padding-right: 30px;
  border-right: 1px solid #dcdcdc;
  height: 36px;
}
.profile-log svg {
  margin-left: 10px;
}
.profile-log a {
  height: 36px;
  padding: 0 20px;
}
.log-in-icon {
  display: block;
}
.log-out-icon {
  display: none;
}
.burger-mob-items {
  display: none;
}
.header.logged-in .profile-email {
  display: block;
}
.header.logged-in .log-out-icon {
  display: block;
}
.header.logged-in .log-in-icon {
  display: none;
}

/* Header Active */
.header.header-active {
  background: #fff;
}
.header.header-active .header-visible {
  background: #fff;
}
.header.header-active .header-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  top: 100%;
}
.header.header-active + .header-overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.header.header-active .burger span:first-child {
  transform: rotate(45deg) translate(3px, 3px);
}
.header.header-active .burger span:nth-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.header.header-active .burger span:nth-child(3) {
  opacity: 0;
}

/* Header Hover */
@media (min-width: 1025px) {
  .color-control:hover .color-status {
    background: #f1f1f1;
  }
  .language-box:hover .current-language {
    background: #f1f1f1;
  }
  .other-languages a:hover {
    background: #f6f6f6;
  }
  .color-list li:hover {
    background: #f6f6f6;
  }
}

/* Header Responsive */
@media (max-width: 1023px) {
  .burger-mob-items {
    display: flex;
  }
  .header-visible .color-control {
    display: none;
  }
  .header-visible .profile-log {
    display: none;
  }
  .profile-email a {
    border-right: none;
  }
  .header-left {
    padding: 16px 0;
  }
  .current-language {
    margin-top: 0;
  }
  .languages {
    height: 36px;
  }
  .languages::before {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .navigation a {
    margin-bottom: 25px;
  }
  .space-box {
    display: none;
  }
  .color-status {
    margin-top: 0;
  }
  .color-list {
    top: unset;
    bottom: 100%;
  }
  .burger-mob-items {
    padding: 16px 0;
    border-top: 1px solid #eeeeee;
  }
}

@media (max-width: 767px) {
  .header-visible {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-visible.al-center {
    align-items: flex-start;
  }
  .header-right {
    padding: 14px 0;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
  }
  .language-box {
    padding: 0;
  }
  .profile-log a {
    padding: 0 16px;
  }
  .color-status {
    margin-right: 0;
  }
}

/* Text Synthesizer */
/* .speedSelect .tabsLangSelectContainer {
    width: 100px;
} */
.speedSelect.tabsLangContainer {
  margin-left: 16px;
}
.speedSelect.tabsLangContainer:after {
  display: none;
}
.speedSelect .tabsBtn {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.container-head {
  margin-top: 95px;
}
.container-head p {
  margin-right: 5px;
}
.container-tools {
  margin-top: 32px;
  margin-bottom: 16px;
}

.container-tools .btn {
  border: none;
  color: #fff;
  position: relative;
  margin-left: 16px;
  padding: 0 20px;
  min-width: 90px;
  height: 36px;
  border-radius: 2px;
  cursor: pointer;
}
.container-text-box {
  width: 100%;
  height: 577px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px;
  background: #fff;
  overflow-y: auto;
  transition: 0.6s;
}
textarea {
  resize: none;
}
.container-text-box::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0.12);
}
.container-text-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.54);
}

.audio-player {
  height: 36px;
  width: 368px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: white;
  display: grid;
  grid-template-rows: 6px auto;
  border-radius: 2px;
}
.gray-line {
  width: 1px;
  height: 36px;
  display: block;
  margin: 0 16px;
  background: rgba(0, 0, 0, 0.12);
  flex-shrink: 0;
}
.audio-player .timeline {
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  /* box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05); */
}
.audio-player .timeline .progress {
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 10px;
  position: relative;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 17px;
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause svg {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: #eb4d4b;
  content: '';
  height: 13px;
  width: 3px;
  transition: 0.3s;
  transform: translateX(-3px);
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: #eb4d4b;
  content: '';
  height: 13px;
  width: 3px;
  transition: 0.3s;
  transform: translateX(-3px);
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button img {
  max-width: 18px;
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  z-index: -1;
  width: 0;
  height: 5px;
  background: rgba(0, 0, 0, 0.12);
  transition: 0.25s;
  top: 44.5%;
  transform: translateY(-50%);
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  height: 100%;
  width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
  left: -100px;
  width: 100px;
}

.color-red .audio-player .controls .toggle-play.pause:before,
.color-red .audio-player .controls .toggle-play.pause:after {
  background: #eb4d4b;
}

.color-blue .audio-player .controls .toggle-play.pause:before,
.color-blue .audio-player .controls .toggle-play.pause:after {
  background: #3742fa;
}

.color-green .audio-player .controls .toggle-play.pause:before,
.color-green .audio-player .controls .toggle-play.pause:after {
  background: #2ed573;
}

.color-orange .audio-player .controls .toggle-play.pause:before,
.color-orange .audio-player .controls .toggle-play.pause:after {
  background: #ff7f50;
}

.color-yellow .audio-player .controls .toggle-play.pause:before,
.color-yellow .audio-player .controls .toggle-play.pause:after {
  background: #ffa502;
}

.color-gray .audio-player .controls .toggle-play.pause:before,
.color-gray .audio-player .controls .toggle-play.pause:after {
  background: #2f3542;
}

.color-skyBlue .audio-player .controls .toggle-play.pause:before,
.color-skyBlue .audio-player .controls .toggle-play.pause:after {
  background: #1e90ff;
}

.container-tools.speech-recognition svg {
  margin-right: 12px;
}

@media (max-width: 1679px) {
  .container-head {
    margin-top: 46px;
  }
  .container-text-box {
    height: 255px;
  }
  .container-tools {
    margin-top: 16px;
  }
}
@media (max-width: 1365px) {
  .container-head {
    margin-top: 52px;
  }
  .container-text-box {
    height: 267px;
  }
}
@media (max-width: 1023px) {
  .container-head {
    margin-top: 86px;
  }
  .container-text-box {
    height: 626px;
  }
  .container-tools.al-center {
    flex-direction: column;
    align-items: flex-start;
  }
  .container-tools.speech-recognition {
    flex-direction: row;
    align-items: center;
  }
  .container-tools .gray-line {
    display: none;
  }
  .tools-left {
    width: 100%;
  }
  .tools-left .btn {
    margin-left: auto;
  }
  .audio-player {
    width: 100%;
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .container-head {
    margin-top: 14px;
  }
  .container-text-box {
    height: 166px;
  }
  .speedSelect .tabsLangContainerTtl.tabsBtn {
    width: unset;
  }
  .speedSelect.tabsLangContainer {
    width: unset;
  }
  .tools-left {
    flex-direction: column;
  }
  .tools-left > div {
    justify-content: space-between;
    width: 100%;
  }
  .tools-left .btn {
    width: 100%;
    margin-top: 16px;
  }
}

.mistakes-box {
  width: 435px;
  /* display: none; */
  width: 0;
  /* transform: translateX(100%); */
  overflow: hidden;
  transition: 0.6s;
  /* transition-delay: 0.3s; */
}
.wrong-word {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 16px;
  margin-bottom: 22px;
}
.word-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 8px 20px;
  margin-left: 16px;
  width: 100%;
  background: #fff;
}
.suggestions-box {
  position: relative;
}
.suggestions {
  position: relative;
  margin-top: 16px;
  padding: 16px 0px 20px 0px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  max-height: calc(577px - 110px - 158px);
  overflow-y: auto;
  background: #fff;
}
.suggestions-box::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 1px;
  display: block;
  height: 16px;
  width: calc(100% - 6px);
  background: #fff;
}
.suggestions::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.suggestions::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 2px;
}
.suggestions li {
  line-height: 30px;
  padding: 0 27px 0 16px;
  transition: 0.3s;
  cursor: pointer;
}

.suggestions li:hover {
  background: #c2c0c0;
}
.btns {
  margin-top: auto;
}
.btns .btn {
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-top: 10px;
  background: #fff;
}
.spell-checker-container .container-text-box {
  height: 577px;
  outline: none;
}
.spell-checker-container .mistakes-box > * {
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.spell-checker-container.found-mistake .mistakes-box {
  padding-left: 30px;
  width: 435px;
}
.spell-checker-container.found-mistake .mistakes-box * {
  opacity: 1;
}

@media (max-width: 767px) {
  .spell-checker-container {
    flex-direction: column;
  }
  .spell-checker-container .container-text-box {
    height: 166px;
  }
  .mistakes-box {
    margin-top: 30px;
    height: 0;
  }
  .spell-checker-container.found-mistake .mistakes-box {
    height: auto;
    padding: 0;
    width: 100%;
  }
}

.bg-color-fade {
  background: rgba(235, 77, 75, 0.5);
}
body.color-red .bg-color-fade {
  background: rgba(235, 77, 75, 0.5);
}
body.color-blue .bg-color-fade {
  background: rgba(55, 66, 250, 0.5);
}
body.color-green .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(46, 213, 115, 0.5),
    rgba(123, 237, 159, 0.5)
  );
}
body.color-orange .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(255, 99, 72, 0.5),
    rgba(255, 127, 80, 0.5)
  );
}
body.color-yellow .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(255, 165, 2, 0.5),
    rgba(236, 204, 104, 0.5)
  );
}
body.color-gray .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(47, 53, 66, 0.5),
    rgba(87, 96, 111, 0.5)
  );
}
body.color-skyBlue .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(30, 144, 255, 0.5),
    rgba(112, 162, 255, 0.5)
  );
}

/* Download */
.download-container {
  background: #fff;
}
.task-sheet.admin-downloads .item:nth-child(1) {
  width: 7.61%;
  min-width: 108px;
}
.task-sheet.admin-downloads .item:nth-child(2) {
  width: 17.25%;
  min-width: 245px;
}
.task-sheet.admin-downloads .item:nth-child(3) {
  width: 75.14% !important;
  padding: 15px;
  position: relative;
}
.select-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: 0.1s;
  pointer-events: none;
}
.task-sheet.admin-downloads .item.hide-text .select-text {
  opacity: 0;
}
.task-sheet.admin-downloads .block .item .select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
  width: 100% !important;
  height: 100%;
}
.task-sheet.admin-downloads .block .item:nth-child(2) span {
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered
  li {
  position: relative;
  padding: 10px;
  padding-right: 35px;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  height: 36px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: #fff;
  padding: 0 10px;
  margin-right: 16px;
  margin-bottom: 7px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.select2-container--default .select2-selection--multiple {
  height: 100%;
  border: none;
}
.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  display: flex;
  border: none;
  align-items: center;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px !important;
  font-weight: 100;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 10px;
}
.download-container button {
  background: #f6f6f6;
  height: 36px;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 32px;
  padding: 0 32px;
}
@media (max-width: 1365px) {
  .task-sheet.admin-downloads {
    display: block;
  }
}

@media (max-width: 1023px) {
  .task-sheet.admin-downloads .item:nth-child(1) {
    width: 10%;
    /* min-width: 108px; */
  }
  .task-sheet.admin-downloads .item:nth-child(2) {
    width: 30%;
    min-width: unset;
  }
  .task-sheet.admin-downloads .item:nth-child(3) {
    width: 60% !important;
  }
}
@media (max-width: 767px) {
  .task-sheet.admin-downloads .item:nth-child(1) {
    min-width: 70px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered
    li {
    position: relative;
    max-width: 100px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    margin-right: 10px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    padding: 5px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered
    li {
    padding-right: 20px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    font-size: 25px !important;
    margin-right: 0;
    right: 7px;
  }
  .task-sheet.admin-downloads .item:nth-child(3) {
    padding: 0;
  }
  .task-sheet.admin-downloads .top .item:nth-child(3) {
    padding: 0 16px;
  }
}

/* Text Converter */
.ocrContainer.text-converter {
  background: #fafafa;
}
.ocrContainer.text-converter .tabsBtn,
.ocrContainer.text-converter .tabsBtn:hover {
  background: #fff;
}
.ocrContainer.text-converter h2 {
  margin-top: 0;
  padding-top: 95px;
}
.ocrContainer.text-converter .imgUploadTabsContainer {
  flex-direction: row;
  flex-wrap: wrap;
}
.ocrContainer.text-converter .speedSelect.tabsLangContainer {
  margin-left: 0;
  margin-right: 0;
}
.ocrContainer.text-converter .imgUploadTabsContainer .frst {
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
}
.ocrContainer.text-converter .recognizedBtn {
  margin-left: 0;
}
.ocrContainer.text-converter .recognizedBtn:after {
  display: none;
}
.ocrContainer.text-converter .ocrInnerContainer {
  margin-top: 0;
}
@media (max-width: 1679px) {
  .ocrContainer.text-converter h2 {
    padding-top: 46px;
  }
}

@media (max-width: 767px) {
  .ocrContainer.text-converter .imgUploadTabsContainer {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .ocrContainer.text-converter .imgUploadTabsContainer .ttl {
    display: block;
    margin-bottom: 5px;
  }
  /* .ocrContainer.text-converter .imgUploadTabsContainer > .frst {
        flex-direction: row;
        align-items: center;
    } */
  .ocrContainer.text-converter .imgUploadTabsContainer .frst {
    border-right: none;
    width: 100%;
  }
  .ocrContainer.text-converter .speedSelect.tabsLangContainer {
    width: 100%;
  }
  .ocrContainer.text-converter .speedSelect .tabsLangContainerTtl.tabsBtn {
    width: 100%;
  }
}
main.container {
  position: relative;
  padding-left: 20%;
}
.sidebar {
  width: 20%;
  height: 100%;
  left: 0;
  position: fixed;
  background: #fafafa;
  padding-left: 105px;
  padding-top: 15px;
}
.sidebar .tabsLangContainer .tabsBtn {
  padding: 0 16px 0 0;
  width: 100%;
}
.sidebar li {
  padding: 5px 0;
}
.sidebar li.has-submenu {
  height: 29px;
  overflow: hidden;
  transition: 0.6s;
}
.sidebar li.has-submenu.active {
  height: 174px;
}
.sidebar li a.open-inside-nav {
  cursor: pointer;
}
.sidebar li a {
  font-size: 16px;
}
.inside-nav {
  margin-top: 10px;
}
.inside-nav li a.tabsBtn {
  padding: 0 16px 0 10px;
  height: initial;
  font-size: 14px;
}
.inside-nav li a.tabsBtn svg {
  width: 20px;
}
.section__container {
  width: 100%;
  padding-left: 105px;
}
@media (max-width: 1679px) {
  .section__container,
  .sidebar {
    padding-left: 74px;
  }
}

@media (max-width: 1365px) {
  .section__container,
  .sidebar {
    padding-left: 47px;
  }
}

@media (max-width: 1023px) {
  .section__container,
  .sidebar {
    padding-left: 45px;
  }
}

@media (max-width: 767px) {
  .section__container,
  .sidebar {
    padding-left: 22px;
  }
}

.tabsContainer {
  display: none;
}
