@import './scss/ali';
@import './scss/main';
@import './scss/mxc';
@import './scss/user';
/* Header Styles */
.header {
  display: flex;
  background: #fafafa;
  top: 0px;
  transition: 0.6s;
  width: 100%;
  position: fixed;
}
.border-left-0{
  border-left: 0!important;
}
.header h1 {
  font-size: 24px;
}
.burger {
  cursor: pointer;
  /* display: none; */
  margin-right: 15px;
}
@media (max-width: 1023px) {
  .burger {
    display: flex;
    order: 0;
  }
}
.burger span {
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  transition: 0.6s;
  backface-visibility: hidden;
}
.header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.54);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.6s;
}
.header-visible {
  position: relative;
  padding: 22px 0 17px;
  background: #fafafa;
  z-index: 5;
  transition: 0.6s;
}
.header-hidden {
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.6s;
  backface-visibility: hidden;
}
.navigation {
  border-top: 1px solid #eeeeee;
  padding: 47.5px 0;
}
.navigation a {
  margin-right: 25px;
  backface-visibility: hidden;
  line-height: 24px;
}
.navigation a span {
  line-height: 24px;
}
.navigation a:last-child {
  margin-right: 0;
}
.color-example {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-right: 10px;
  flex-shrink: 0;
}
.red-btn .color-example {
  background: #eb4d4b;
}
.blue-btn .color-example {
  background: #3742fa;
}
.green-btn .color-example {
  background-image: linear-gradient(to right, #2ed573, #7bed9f);
}
.orange-btn .color-example {
  background-image: linear-gradient(to right, #ff6348, #ff7f50);
}
.yellow-btn .color-example {
  background-image: linear-gradient(to right, #ffa502, #eccc68);
}
.gray-btn .color-example {
  background-image: linear-gradient(to right, #2f3542, #57606f);
}
.sky-btn .color-example {
  background-image: linear-gradient(to right, #1e90ff, #70a1ff);
}

.color-control,
.language-box {
  position: relative;
}
.color-list,
.other-languages {
  position: absolute;
  top: 100%;
  background: #fff;
  transition: 0.6s;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.56);
  opacity: 0;
  pointer-events: none;
}
.space-box {
  height: 10px;
  padding-bottom: 10px;
}
.color-list {
  width: 140px;
}
.color-list li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.6s;
}
.other-languages {
  width: 120px;
}
.color-status {
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.6s;
}
.color-status svg {
  margin-left: 16px;
}
.color-list.show {
  opacity: 1;
  pointer-events: all;
}
.other-languages.show {
  opacity: 1;
  pointer-events: all;
}

.current-language {
  height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  transition: 0.6s;
}
.other-languages a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 21px;
  padding-right: 20px;
  display: block;
  transition: 0.6s;
}
.language-box svg {
  margin-left: 16px;
}
.profile-email {
  display: none;
}
.profile-email svg {
  margin-left: 14px;
}
.profile-log svg {
  margin-left: 10px;
}
.log-in-icon {
  display: block;
}
.log-out-icon {
  display: none;
}
.profile-log.logged .log-in-icon {
  display: none;
}
.profile-log.logged .log-out-icon {
  display: block;
}
.burger-mob-items {
  display: none;
}
.header.logged-in .profile-email {
  display: block;
}
.header.logged-in .log-out-icon {
  display: block;
}
.header.logged-in .log-in-icon {
  display: none;
}

/* Header Active */
.header.header-active {
  background: #fff;
}
.header.header-active .header-visible {
  background: #fff;
}
.header.header-active .header-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  top: 100%;
}
.header.header-active + .header-overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.header.header-active .burger span:first-child {
  transform: rotate(45deg) translate(3px, 3px);
}
.header.header-active .burger span:nth-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.header.header-active .burger span:nth-child(3) {
  opacity: 0;
}

/* Header Hover */
@media (min-width: 1025px) {
  .color-control:hover .color-status {
    background: #f1f1f1;
  }
  .language-box:hover .current-language {
    background: #f1f1f1;
  }
  .other-languages a:hover {
    background: #4b3d3d;
  }
  .color-list li:hover {
    background: #f6f6f6;
  }
}

/* Header Responsive */
@media (max-width: 1023px) {
  .burger-mob-items {
    display: flex;
  }
  .profile-email a {
    border-right: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .navigation a {
    margin-bottom: 25px;
  }
  .space-box {
    display: none;
  }
  .color-status {
    margin-top: 0;
  }
  .burger-mob-items {
    padding: 16px 0;
    border-top: 1px solid #eeeeee;
  }
}

@media (max-width: 767px) {
  .language-box {
    padding: 0;
  }
  .color-status {
    margin-right: 0;
  }
  .header-left {
    width: 100%;
    flex-wrap: wrap;
  }
}

/* Text Synthesizer */
/* .speedSelect .tabsLangSelectContainer {
    width: 100px;
} */
.speedSelect.tabsLangContainer:after {
  display: none;
}
.speedSelect .tabsBtn {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.container-head {
  height: 36px;
}
main.ocrContainer .container-head h2 {
  margin: 0;
}
.container-head p {
  margin-right: 5px;
}
.container-tools .btn {
  border: none;
  color: #fff;
  position: relative;
  margin-left: 0;
  padding: 0 20px;
  min-width: 90px;
  height: 36px;
  border-radius: 2px;
  cursor: pointer;
}
.container-text-box {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px;
  background: #fff;
  overflow-y: auto;
  transition: 0.6s;
  min-height: 300px;
  height: 100%;
}
textarea {
  resize: none;
}
.container-text-box::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0.12);
}
.container-text-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.54);
}

.audio-player {
  height: 36px;
  width: 368px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: white;
  display: grid;
  grid-template-rows: 6px auto;
  border-radius: 2px;
}
.gray-line {
  width: 1px;
  height: 36px;
  display: block;
  margin: 0 16px;
  background: rgba(0, 0, 0, 0.12);
  flex-shrink: 0;
}
.audio-player .timeline {
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  /* box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05); */
}
.audio-player .timeline .progress {
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 10px;
  position: relative;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 17px;
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause svg {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: #eb4d4b;
  content: '';
  height: 13px;
  width: 3px;
  transition: 0.3s;
  transform: translateX(-3px);
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: #eb4d4b;
  content: '';
  height: 13px;
  width: 3px;
  transition: 0.3s;
  transform: translateX(-3px);
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button img {
  max-width: 18px;
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  z-index: -1;
  width: 0;
  height: 5px;
  background: rgba(0, 0, 0, 0.12);
  transition: 0.25s;
  top: 44.5%;
  transform: translateY(-50%);
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  height: 100%;
  width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
  left: -100px;
  width: 100px;
}

.color-red .audio-player .controls .toggle-play.pause:before,
.color-red .audio-player .controls .toggle-play.pause:after {
  background: #eb4d4b;
}

.color-blue .audio-player .controls .toggle-play.pause:before,
.color-blue .audio-player .controls .toggle-play.pause:after {
  background: #3742fa;
}

.color-green .audio-player .controls .toggle-play.pause:before,
.color-green .audio-player .controls .toggle-play.pause:after {
  background: #2ed573;
}

.color-orange .audio-player .controls .toggle-play.pause:before,
.color-orange .audio-player .controls .toggle-play.pause:after {
  background: #ff7f50;
}

.color-yellow .audio-player .controls .toggle-play.pause:before,
.color-yellow .audio-player .controls .toggle-play.pause:after {
  background: #ffa502;
}

.color-gray .audio-player .controls .toggle-play.pause:before,
.color-gray .audio-player .controls .toggle-play.pause:after {
  background: #2f3542;
}

.color-skyBlue .audio-player .controls .toggle-play.pause:before,
.color-skyBlue .audio-player .controls .toggle-play.pause:after {
  background: #1e90ff;
}

.container-tools.speech-recognition svg {
  margin-right: 12px;
  top: -1px;
}
@media (max-width: 1365px) {
  /* .container-text-box {
    height: 440px;
  } */
}
@media (max-width: 1023px) {
  /* .container-text-box {
    height: 626px;
  } */
  .container-tools.al-center {
    flex-direction: column;
    align-items: flex-start;
  }
  .container-tools.speech-recognition {
    flex-direction: row;
    align-items: center;
  }
  .container-tools .gray-line {
    display: none;
  }
  .tools-left {
    width: 100%;
  }
  .audio-player {
    width: 100%;
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .speedSelect .tabsLangContainerTtl.tabsBtn {
    width: unset;
  }
  .speedSelect.tabsLangContainer {
    width: unset;
  }
}

.mistakes-box {
  width: 435px;
  /* display: none; */
  width: 0;
  /* transform: translateX(100%); */
  overflow: hidden;
  transition: 0.6s;
  /* transition-delay: 0.3s; */
}
.wrong-word {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 16px;
  margin-bottom: 22px;
}
.word-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 8px 20px;
  margin-left: 16px;
  width: 100%;
  background: #fff;
}

.btns {
  margin-top: auto;
}
.btns .btn {
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-top: 10px;
  background: #fff;
}
.spell-checker-container {
  flex: 1 1 0;
}
.spell-checker-container .container-text-box {
  /* height: 100%; */
  outline: none;
  /* min-height: 350px; */
}
.spell-checker-container .mistakes-box > * {
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.spell-checker-container.found-mistake .mistakes-box {
  padding-left: 30px;
  width: 435px;
}
.spell-checker-container.found-mistake .mistakes-box * {
  opacity: 1;
}

@media (max-width: 767px) {
  .spell-checker-container {
    flex-direction: column;
  }
  /* .spell-checker-container .container-text-box {
    height: 350px;
  } */
  .mistakes-box {
    margin-top: 30px;
    height: 0;
  }
  .spell-checker-container.found-mistake .mistakes-box {
    height: auto;
    padding: 0;
    width: 100%;
  }
}

.bg-color-fade {
  background: rgba(235, 77, 75, 0.5);
}
body.color-red .bg-color-fade {
  background: rgba(235, 77, 75, 0.5);
}
body.color-blue .bg-color-fade {
  background: rgba(55, 66, 250, 0.5);
}
body.color-green .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(46, 213, 115, 0.5),
    rgba(123, 237, 159, 0.5)
  );
}
body.color-orange .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(255, 99, 72, 0.5),
    rgba(255, 127, 80, 0.5)
  );
}
body.color-yellow .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(255, 165, 2, 0.5),
    rgba(236, 204, 104, 0.5)
  );
}
body.color-gray .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(47, 53, 66, 0.5),
    rgba(87, 96, 111, 0.5)
  );
}
body.color-skyBlue .bg-color-fade {
  background-image: linear-gradient(
    to right,
    rgba(30, 144, 255, 0.5),
    rgba(112, 162, 255, 0.5)
  );
}

/* Download */
.download-container {
  background: #fff;
}
.task-sheet.admin-downloads .item:nth-child(1) {
  width: 7.61%;
  min-width: 108px;
}
.task-sheet.admin-downloads .item:nth-child(2) {
  width: 17.25%;
  min-width: 245px;
}
.task-sheet.admin-downloads .item:nth-child(3) {
  width: 75.14% !important;
  padding: 15px;
  position: relative;
}
.select-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: 0.1s;
  pointer-events: none;
}
.task-sheet.admin-downloads .item.hide-text .select-text {
  opacity: 0;
}
.task-sheet.admin-downloads .block .item .select2-container {
  width: 100% !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
  display: flex;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
  height: 34px;
}
.task-sheet.admin-downloads .block .item:nth-child(2) span {
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered
  li {
  position: relative;
  padding: 10px;
  padding-right: 35px;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  height: 36px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: #fff;
  padding: 0 10px;
  margin-right: 16px;
  margin-bottom: 7px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.select2-container--default .select2-selection--multiple {
  height: 100%;
  border: none;
}
.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  display: flex;
  border: none;
  align-items: center;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px !important;
  font-weight: 100;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 10px;
}
.download-container button {
  background: #f6f6f6;
  height: 36px;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 32px;
  padding: 0 32px;
}
@media (max-width: 1365px) {
  .task-sheet.admin-downloads {
    display: block;
  }
}

@media (max-width: 1023px) {
  .task-sheet.admin-downloads .item:nth-child(1) {
    width: 10%;
    /* min-width: 108px; */
  }
  .task-sheet.admin-downloads .item:nth-child(2) {
    width: 30%;
    min-width: unset;
  }
  .task-sheet.admin-downloads .item:nth-child(3) {
    width: 60% !important;
  }
}
@media (max-width: 767px) {
  .task-sheet.admin-downloads .item:nth-child(1) {
    min-width: 70px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered
    li {
    position: relative;
    max-width: 100px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    margin-right: 10px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    padding: 5px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered
    li {
    padding-right: 20px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    font-size: 25px !important;
    margin-right: 0;
    right: 7px;
  }
  .task-sheet.admin-downloads .item:nth-child(3) {
    padding: 0;
  }
  .task-sheet.admin-downloads .top .item:nth-child(3) {
    padding: 0 16px;
  }
}

/* Text Converter */
.ocrContainer.text-converter {
  background: #fafafa;
}
.ocrContainer.text-converter .tabsBtn,
.ocrContainer.text-converter .tabsBtn:hover {
  background: #fff;
}
.ocrContainer.text-converter h2 {
  margin-top: 0;
  padding-top: 95px;
}
.ocrContainer.text-converter .imgUploadTabsContainer {
  flex-direction: row;
  flex-wrap: wrap;
}
.ocrContainer.text-converter .speedSelect.tabsLangContainer {
  margin-left: 0;
  margin-right: 0;
}
.ocrContainer.text-converter .imgUploadTabsContainer .frst {
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
}
.ocrContainer.text-converter .recognizedBtn {
  margin-left: 0;
}
.ocrContainer.text-converter .recognizedBtn:after {
  display: none;
}
.ocrContainer.text-converter .ocrInnerContainer {
  margin-top: 0;
}
@media (max-width: 1679px) {
  .ocrContainer.text-converter h2 {
    padding-top: 46px;
  }
}

@media (max-width: 767px) {
  .ocrContainer.text-converter .imgUploadTabsContainer {
    margin-bottom: 16px;
  }
  .ocrContainer.text-converter .imgUploadTabsContainer .ttl {
    display: block;
    margin-bottom: 5px;
  }
  /* .ocrContainer.text-converter .imgUploadTabsContainer > .frst {
        flex-direction: row;
        align-items: center;
    } */
  .ocrContainer.text-converter .imgUploadTabsContainer .frst {
    border-right: none;
    width: 100%;
  }
  .ocrContainer.text-converter .speedSelect.tabsLangContainer {
    width: 100%;
  }
  .ocrContainer.text-converter .speedSelect .tabsLangContainerTtl.tabsBtn {
    width: 100%;
  }
}
.header-visible {
  width: 100%;
}
.sidebar .tabsLangContainer .tabsBtn {
  padding: 0 16px 0 0;
  width: 100%;
}
.sidebar li.has-submenu {
  max-height: 19px;
  overflow: hidden;
  transition: 0.6s;
}
.sidebar li.has-submenu.active {
  max-height: 300px;
}
.sidebar li a.open-inside-nav {
  cursor: pointer;
}
.sidebar li a {
  font-size: 16px;
}
.inside-nav {
  // margin-top: 10px;
}
.inside-nav li a.tabsBtn {
  padding: 0 16px 0 10px;
  font-size: 14px;
  height: 19px;
}
.inside-nav li a.tabsBtn svg {
  width: 20px;
}
.section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
@media (max-width: 1023px) {
  .section__container {
    padding-left: 0;
  }
  main.container {
    padding: 0 45px;
    transition: 0.6s;
  }
  .section__container .fixed {
    width: calc(100% - 45px);
    left: 0;
    padding: 15px 45px;
  }
  main.container {
    padding-top: 112px;
  }
}

@media (max-width: 767px) {
  .section__container .fixed {
    width: 100%;
    padding-left: 21px;
    padding-right: 22px;
  }
  .section__container {
    padding-left: 0;
  }
  main.container {
    padding-right: 22px;
    padding-left: 21px;
    padding-top: 140px;
  }
  div.tabsContainer {
    display: block;
  }
  .current-language {
    padding-left: 0;
  }
  .header-visible .color-control {
    order: 3;
    height: 0;
    display: flex;
    transition: 0.3s;
    overflow: hidden;
  }
  .header.header-active .language-box,
  .header.header-active .color-control {
    height: 36px;
    margin-top: 15px;
    overflow: visible;
  }
  .container-text-box {
    min-height: 200px;
  }
  .spell-checker-container.found-mistake .container-text-box {
    height: auto;
  }
}

@media (max-width: 380px) {
  .profile-log.logged a span {
    display: none;
  }
}

.tabsContainer {
  display: none;
}
header {
  z-index: 999;
  &.header-active {
    .header-visible {
      .container-tools {
        @media (max-width: 1023px) {
          display: none;
        }
      }
    }
  }
  .header-visible {
    @media (max-width: 1023px) {
      flex-wrap: wrap;
    }
    .header-right {
      @media (max-width: 1023px) {
        justify-content: flex-start;
        width: 83px;
      }
      .enagramm-logo {
        width: 75px;
        @media (max-width: 1023px) {
          width: 50px;
        }
      }
    }
    .container-tools {
      display: flex;
      margin-left: 15px;
      flex: 1 0 0;
      flex-wrap: wrap;
      @media (max-width: 1023px) {
        order: 2;
        margin-top: 10px;
        margin-left: 0;
      }
      &.imgUploadTabsContainer {
        .frst {
          margin: 0;
        }
      }
      .checkbox-wrap{
        margin-right: 5px;
        display: flex;
        align-items: center;
      }
      .flrs {
        display: flex;
        flex-wrap: wrap;
        .fl {
          display: flex;
          flex-wrap: wrap;
          &.fl1 {
            @media (max-width: 1023px) {
              margin-bottom: 5px;
            }
          }
        }
      }
      .frst {
        // margin-bottom: 5px;
        margin: 0;
        .scnd {
          display: flex;
          align-items: center;
          padding-right: 15px;
          margin-right: 15px;
          border-right: 1px solid rgba(0, 0, 0, 0.12);
          @media (max-width: 767px) {
            padding-right: 0;
            border-right: 0;
            &:first-of-type {
              margin-bottom: 5px;
            }
          }
        }
      }
      .upFrs {
        display: flex;
        align-items: center;
      }
      .imgUplBtn {
        height: 38px;
        display: flex;
        align-items: center;
        padding: 0px 16px;
        margin: 0 5px;
        transition: 0.4s ease-in-out;
        border-radius: 2px;
        white-space: nowrap;
        &.imgUploadTtl{
          margin-left: 0;
        }
        @media (max-width: 1023px) {
          font-size: 16px;
        }
        @media (max-width: 767px){
          margin: 0 5px 0 0px;
        }
      }
    }
    .header-left {
      justify-content: flex-end;
      @media (max-width: 1023px) {
        width: calc(100% - 93px);
      }
      .profile-log {
        a {
          white-space: nowrap;
          height: 36px;
          padding-right: 0;
          justify-content: flex-end;
        }
      }
      .profile-email {
        a {
          border-right: 1px solid #dcdcdc;
          height: 36px;
          padding-right: 15px;
          margin-right: 15px;
          @media (max-width: 767px) {
            padding-right: 10px;
            margin-right: 0;
          }
        }
      }
    }
  }
}
main.container {
  position: relative;
  flex: 1 1 0;
  padding-top: 136px;
  transition: padding-left 0.6s;
  @media (max-width: 767px) {
    padding-top: 157px;
  }
  &.active-mobile {
    padding-left: 22%;
    @media (max-width: 1200px) {
      padding-left: 25%;
    }
    @media (max-width: 1200px) {
      padding-left: 45px;
    }
    @media (max-width: 767px) {
      padding-left: 21px;
    }
    .sidebar {
      left: 0;
    }
    .section__container {
      .scrollable-content {
        padding-left: 15px;
        @media (max-width: 1023px) {
          padding-left: 0;
        }
      }
      .licenceTxt {
        margin-left: 15px;
      }
    }
  }
  .sidebar {
    padding-top: 136px;
    transition: left 0.6s;
    width: 22%;
    height: 100%;
    left: -22%;
    top: 0;
    position: fixed;
    background: #fafafa;
    padding-left: 105px;
    padding-bottom: 77px;
    @media (max-width: 1679px) {
      padding-left: 74px;
    }
    @media (max-width: 1365px) {
      padding-left: 47px;
    }
    @media (max-width: 1200px) {
      width: 25%;
      left: -25%;
    }
    @media (max-width: 1023px) {
      padding-left: 45px;
      padding-right: 0;
      position: fixed;
      width: 100%;
      left: -100%;
      transition: 0.3s;
      z-index: 10;
      padding-top: 100px !important;
    }
    @media (max-width: 767px) {
      padding-left: 21px;
      padding-right: 0;
    }
    &__container {
      height: 100%;
      overflow: auto;
      @media (max-width: 1023px) {
        padding-right: 45px;
      }
      @media (max-width: 767px) {
        padding-right: 22px;
      }
      &__topbar {
        display: flex;
        .color-control {
          @media (max-width: 767px) {
            margin-bottom: 5px;
          }
          .color-status {
            @media (max-width: 767px) {
              padding: 0 10px;
            }
          }
          .color-list {
            z-index: 4;
            padding-left: 21px;
            left: 0;
            @media (max-width: 767px) {
              padding-left: 10px;
            }
          }
        }
        .language-box {
          padding-left: 5px;
          cursor: pointer;
          @media (max-width: 767px) {
            margin-bottom: 5px;
          }
          .languages {
            @media (max-width: 767px) {
              padding: 0 10px;
            }
            &::before {
              content: '';
              width: 1px;
              height: 36px;
              display: inline-block;
              background: #dcdcdc;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              flex-shrink: 0;
            }
          }
          .other-languages {
            z-index: 99;
            right: 0;
          }
        }
      }
    }
  }
  .section__container {
    .top {
      .ttl {
        font-size: 24px;
      }
    }
    .scrollable-content {
      flex: 1 1 0;
      padding-bottom: 15px;
      display: flex;
      flex-direction: column;
      transition: padding-left 0.6s;
      @media (max-width: 767px) {
        padding-bottom: 0;
      }
      .personal-info {
        width: 100%;
      }
    }
    .licenceTxt {
      margin-bottom: 0;
      transition: margin-left 0.6s;
    }
    .section__block {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &__left {
        width: 260px;
        font-size: 17px;
      }
      &__right {
      }
      &__tools {
        width: 100%;
        padding-bottom: 32px;
        border-bottom: 1px solid #eee;
      }
    }
  }
  .suggestions-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    .suggestions {
      position: relative;
      margin-top: 16px;
      padding: 16px 0px 20px 0px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      flex: 1 0 0;
      min-height: 250px;
      overflow-y: auto;
      background: #fff;
      &::-webkit-scrollbar {
        width: 4px;
        background: rgba(0, 0, 0, 0.12);
        border-radius: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: #4d4d4d;
        border-radius: 2px;
      }
      li {
        line-height: 30px;
        padding: 0 27px 0 16px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background: #c2c0c0;
        }
      }
    }
  }
}
.hover-tooltip {
  position: relative;
  &:hover {
    .tooltip__container {
      opacity: 1;
      visibility: visible;
    }
  }
  .tooltip__container {
    bottom: calc(100% + 5px);
    position: absolute;
    min-width: 80px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    white-space: nowrap;
    z-index: 99;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 0;
    //   height: 0;
    //   top: -7px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   border-left: 7px solid transparent;
    //   border-right: 7px solid transparent;
    //   border-bottom: 8px solid black;
    // }
    span {
      color: #fff;
      font-size: 14px;
    }
  }
}
.half-input {
  width: calc(50% - 10px) !important;
}
.adminCorpus {
  flex: 1 0 0;
  margin-left: 15px;
}
.admin-downloads .select2-container {
  min-height: 49px;
}
.select2-container--open .select2-dropdown--below{
  border-top: 1px solid #f1f1f1;
  border-color: #f1f1f1;
}
.select2-results>.select2-results__options{
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
}
.search-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .tabsLangContainer{
    margin-left: 0;
    @media (max-width: 767px){
      width: 40%;
    }
  }
  .input-wrap{
    @media (max-width: 767px){
      width: 60%;
    }
    .f-input{
      min-height: initial;
      height: 36px;
      @media (max-width: 767px){
        width: 100%;
      }
    }
  }
}